# Интерфейс
streamlit==1.40.0

# YOLOv8 — используем последнюю версию, совместимую с Python 3.12
ultralytics==8.3.0

# gTTS — последняя реальная версия
gtts==2.5.4

# Обработка изображений
Pillow==10.4.0
requests==2.32.3
numpy>=1.21,<2.0


# PyTorch — используем **последнюю доступную версию без +cpu** (pip сам выберет CPU-сборку)
torch>=2.5.0
torchvision>=0.20.0
