streamlit==1.40.0
ultralytics==8.3.0
gtts==2.5.5
Pillow==10.4.0
requests==2.32.3
numpy==2.0.2

# Явная установка PyTorch CPU-версии через официальный URL
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.5.0+cpu
torchvision==0.20.0+cpu
